$background: #e6e5e0;
$blue: #00aff0;
$text-color: #484c55;

$well-color: #ebebeb;

$break: 766px;

html, body {
	margin: 0px;

	color: $text-color;
	background-color: white;
	font-size: 16px;
	font-family: sans-serif;

	box-sizing: border-box;
	height: 100%;

	* {
		box-sizing: border-box;
	}
}

button, input {
    outline: none;
}

button, .button {
	-webkit-appearance: none;
	cursor: pointer;

	background-color: $blue;

	font-size: 1.2em;
	text-decoration: none;
	color: white;

	border: none;
	border-radius: 5px;
	border-bottom: 5px solid darken($blue, 20%);

	display: table;
	padding: 15px;
	margin: 15px auto;

	transition: all 0.1s ease;

	position: relative;
}

button:hover, .button:hover {
	margin-top: 17px;
	border-bottom: 3px solid darken($blue, 20%);
}

button:active, .button:active {
	margin-top: 20px;
	border-bottom: 0px;
}

.well {
	background-color: $well-color;
	border-left: 2px solid $blue;

	display: table;
	padding: 5px;
	margin: 5px auto;
}

header {
	background-color: white;
	padding: 20px;
	height: 100px;

	img {
		display: block;
		margin: 0 auto;

		max-width: 400px;
	}
}

#spinner {
	width: 30px;
	height: 30px;
	border-radius: 50%;

	border-top: 2px solid rgba(255, 255, 255, 0.2);
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	border-left: 2px solid #ffffff;

	animation: rotate 1s infinite linear;

	position: absolute;
	margin: -5px 0 0 10px;

	display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#alert {
	padding: 10px;
	margin-bottom: 10px;

	&.success {
		background-color: lighten(#4E9A26, 50%);
	}

	&.error {
		background-color: lighten(#AC1212, 50%);
	}
}

.cta {
	background-color: $background;
	height: 400px;
	padding: 0px 20px;

	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;

	overflow: hidden;

	div {
		min-width: 180px;
	}

	h1 {
		margin: 0px;
		text-align: center;
	}

	img {
		height: 500px;
		min-width: 410px;
		margin-bottom: -80px;
	}
}

.demo {
	padding: 1px 20px;

	h2 {
		text-align: center;
	}

	img {
		max-width: 400px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	}

	> div {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@media screen and (max-width: $break) {
			flex-direction: column-reverse;
		}

		.details {
			display: inline-block;
			font-size: 1.1em;

			width: 16em;
			height: 20em;

			@media screen and (max-width: $break) {
				height: auto;
			}

			div {
				display: flex;
			}

			.tab {
				flex: 1;
				text-align: center;

				padding: 5px;
				color: white;

				background-color: darken($blue, 20%);

				cursor: pointer;

				&.active {
					background-color: $blue;
					position: relative;

					&:after {
						content: "";

						position: absolute;
						bottom: -10px;
						left: calc(50% - 10px);

						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid $blue;
					}
				}
			}

			li {
				padding: 5px 0;
			}
		}
	}
}

.steps {
	background-color: $background;
	padding: 1px 20px;

	h2 {
		text-align: center;
	}

	ul {
		list-style-type: none;
		padding-left: 0px;

		max-width: 50em;
		margin: 0 auto;

		@media screen and (max-width: $break) {
			padding-bottom: 30px;
		}

		.row {
			display: flex;
			justify-content: space-around;

			margin-bottom: 30px;

			@media screen and (max-width: $break) {
				flex-direction: column;
				margin-bottom: 0px;
			}
		}

		li {
			background-color: white;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

			display: inline-block;
			width: 45%;
			padding: 20px;
			text-align: center;

			display: flex;
			flex-direction: column;

			transition: box-shadow 0.3s ease;

			@media screen and (max-width: $break) {
				width: 90%;
				font-size: 1.2em;
				margin: 10px auto;
			}

			button {
				margin: 15px 0;
			}

			&:hover {
				box-shadow: 0 0 15px rgba(0, 175, 240, 1.0);
			}

			> div {
				flex: 1;

				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			img {
				max-width: 100%;

				margin-top: 20px;
			}
		}
	}
}