$background: #e6e5e0;
$blue: #00aff0;
$text-color: #484c55;

$highlight-color: #77c32f;

$well-color: #f8f8f8;

html, body {
	margin: 0px;

	color: $text-color;
	background-color: white;
	font-size: 16px;
	font-family: sans-serif;

	box-sizing: border-box;
	height: 100%;

	* {
		box-sizing: border-box;
	}
}

button, input {
    outline: none;
}

button, .button {
	-webkit-appearance: none;
	cursor: pointer;

	background-color: $blue;

	font-size: 1.2em;
	text-decoration: none;
	color: white;

	border: none;
	border-radius: 5px;
	border-bottom: 5px solid darken($blue, 20%);

	display: table;
	padding: 15px;
	margin: 15px auto;

	transition: all 0.1s ease;
}

button:hover, .button:hover {
	margin-top: 17px;
	border-bottom: 3px solid darken($blue, 20%);
}

button:active, .button:active {
	margin-top: 20px;
	border-bottom: 0px;
}

.well {
	background-color: darken($well-color, 5%);
	border-left: 2px solid $blue;

	display: table;
	padding: 5px;
	margin: 5px auto;
}

header {
	background-color: white;
	padding: 20px;
	height: 100px;

	img {
		display: block;
		margin: 0 auto;

		max-width: 400px;
	}
}

.cta {
	background-color: $background;
	height: 400px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	h1 {
		margin: 0px;
	}
}

.steps {
	ul {
		list-style-type: none;
		padding: 30px 0 0 0;

		max-width: 50em;
		margin: 0 auto;

		.row {
			display: flex;
			justify-content: space-around;

			margin-bottom: 30px;
		}

		li {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			display: inline-block;
			width: 45%;
			padding: 20px;
			text-align: center;

			display: flex;
			flex-direction: column;

			transition: box-shadow 0.3s ease;

			&:hover {
				box-shadow: 0 0 15px rgba(0, 175, 240, 1.0);
			}

			div {
				flex: 1;

				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			img {
				max-width: 100%;

				margin-top: 20px;
			}
		}
	}
}