$background: #e6e5e0;
$blue: #00aff0;
$text-color: #484c55;

$highlight-color: #77c32f;

$well-color: #f8f8f8;

html, body {
	margin: 0px;

	color: $text-color;
	background-color: white;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;

	box-sizing: border-box;
	height: 100%;

	* {
		box-sizing: border-box;
	}
}

h1, h2, h3, h4, h6 {
	margin: 0px;
	padding: 0px;

	text-align: center;
}

h1 {
	padding: 20px 0 0 0;

	font-weight: 600;
	text-align: center;
}

h2 {
	font-weight: 500;
	background-color: white;
	padding: 15px 0;
}

h3 {
	font-weight: 400;
}

input, button, a {
	outline: none;
}

.ui-tabs-nav {
	list-style-type: none;
	display: table;

	margin: 0 auto;
	padding: 10px;

	position: relative;
	top: 35px;

	background-color: $background;

	li {
		text-align: center;
		display: inline-block;

		outline: none;

		width: 10em;

		&:not(.ui-tabs-active) a {
			background-color: darken($blue, 20%);
		}

		&.ui-tabs-active:after {
			content: "";
			display: block;
			margin: 0 auto;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $blue;
		}

		a {
			display: block;
			padding: 5px 10px;
			text-decoration: none;
			color: white;
			background-color: $blue;
		}
	}
}

#group, #individuals {
	background-color: $background;
	padding-top: 45px;
	padding-bottom: 30px;
}

#group {
	.main-stats {
		display: flex;
		justify-content: center;

		margin-bottom: 10px;

		div {
			font-size: 1.7em;
			margin-right: 10px;
			text-align: center;

			background-color: white;
			padding: 10px 20px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

			img {
				max-width: 1.1em;
				max-height: 1.1em;

				vertical-align: middle;
			}

			img, i {
				margin-right: 5px;
			}

			h4 {
				font-size: 0.8em;
				margin-bottom: 5px;
			}
		}
	}

	#comments {
		padding: 20px;

		ul {
			list-style-type: none;
			margin: 0 auto;
			padding: 0px;
			max-width: 50em;

			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

			li {
				background-color: white;
				padding: 10px 20px;
				transition: box-shadow 0.1s ease;

				&:nth-child(2n+1) {
					background-color: darken(white, 5%);
				}

				&:hover {
					position: relative;
					z-index: 1;
					box-shadow: inset 0 0 3px darken($blue, 10%);
				}

				.top {
					display: flex;
					align-items: center;
					margin-bottom: 10px;

					.number {
						font-size: 1.3em;
						font-weight: 600;
						margin: 0 15px 0 10px;
					}

					.profile {
						display: inline-block;
						width: 3em;
						height: 3em;
						border-radius: 50%;

						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;

						margin-right: 10px;
					}

					.likes {
						font-size: 0.8em;
						margin-left: auto;

						img {
							width: 1.4em;
							height: 1.4em;
							vertical-align: middle;

							margin-right: 5px;
							margin-top: -4px;
						}
					}
				}

				img {
					max-width: 200px;
					max-height: 200px;
				}
			}
		}
	}
}

#individuals {
	.all {
		max-width: 50em;
		display: flex;
		margin: 0 auto;

		background-color: white;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

		.people {
			text-align: center;
			min-width: 5em;
			max-width: 5em;

			background-color: rgba(0, 0, 0, 0.1);

			max-height: 55em;
			overflow-y: scroll;

			position: relative;
			z-index: 1;
			margin-right: -1px;

			> div {
				text-overflow: ellipsis;
				overflow: hidden;

				padding: 5px;

				cursor: pointer;

				margin: 1px 1px 1px 0;

				&.active {
					background-color: white;
					padding-right: 6px;

					margin: 0;

					&:not(:first-child) {
						border-top: 1px solid rgba(0, 0, 0, 0.3);
					}

					&:not(:last-child) {
						border-bottom: 1px solid rgba(0, 0, 0, 0.3);
					}
				}

				&:not(.active):hover {
					background-color: darken(white, 5%);
				}
			}

			.profile {
				display: block;
				margin: 0 auto;
				width: 3em;
				height: 3em;
				border-radius: 50%;

				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		.detail {
			flex: 1;
			padding: 10px;
			border-left: 1px solid rgba(0, 0, 0, 0.3);

			.main-stats {
				display: flex;
				justify-content: center;

				margin-bottom: 10px;

				div {
					font-size: 1.4em;
					text-align: center;
					margin: 0 5px;

					background-color: white;
					padding: 5px 10px;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

					img {
						max-width: 1.1em;
						max-height: 1.1em;

						vertical-align: middle;
					}

					img, i {
						margin-right: 5px;
					}

					h4 {
						font-size: 0.6em;
						margin-bottom: 5px;
					}
				}
			}

			.secondary-stats {
				display: flex;
				justify-content: space-around;

				.sharer, .liker {
					display: flex;
					align-items: center;
					margin-bottom: 5px;
				}

				h4 {
					margin-bottom: 10px;
				}

				.profile {
					display: inline-block;
					min-width: 3em;
					min-height: 3em;
					border-radius: 50%;

					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;

					margin-right: 10px;
				}

				.number {
					margin-left: auto;
					padding-left: 10px;
					font-weight: bold;
				}
			}

			.image {
				display: block;
				margin: 0 auto 10px auto;
				width: 150px;
				height: 150px;
				border-radius: 50%;

				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			svg > rect {
				fill: transparent !important;
			}
		}
	}
}